body
{
    background-image: url("tea.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

.login{
    background-color: rgba(0,255,127,0.1);
    width:220px;
    height: 320px;
    padding-left:40px;
    border:1px solid green;
    margin-top:180px;
    margin-left: 430px;
}
h1
{
    color:green;
    margin-left: 30px;
}
input{
    height: 30px;
    width: 100px;
    margin:20px;
    font-size: 15px;
    border-radius: 6px;
}
button{
    height: 30px;
    width: 100px;
    margin-left: 50px;
    margin-top: 20px;
    background-color: greenyellow;
}
