body,html{
    height: 100%;
    margin: 0;}
body{
    background-image: url("../img/5.jpg");
    background-repeat: no-repeat;
    background-size:83% 100%;
}
.login {
    background-image: url("../img/3.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    margin:auto;
    height: 100%;
    width: 270px;
    position: relative;
    left: 550px;
    text-align: center;
    border:#ffffff;
}
h1{
    margin: 0;
    padding-top: 70px;
    padding-bottom: 60px;
    border-bottom: white 3px solid;
}
input{
    height: 30px;
    width: 150px;
    margin:20px;
    font-size: 18px;
    border-radius: 6px;
}
button{
    margin:20px;
    height: 30px;
    width: 80px;
    font-size: 16px;
}
a{
    font-size: 20px;
}