body,html{  height: 100%;  margin: 0;}
/*a{
	text-decoration-line: none;
	list-style-type: none;
}*/
.login
{   height: 350px;
    width: 500px;
	background: url(1.jpg) no-repeat;
    margin:auto;
    position: relative;
    top: 150px;
    text-align: center;
    background: rgb(0,0,0,0.6);
    border-radius: 15px;
}
.login-header
{	
	height: 110px;
	width: 500px;
	padding-top: 10px;
    border-bottom: white 2px solid;
}

.login-content
{
	margin-top: 50px;
}
.name
{
	height: 30px;
	margin-bottom: 30px;
}
.word
{
	margin-bottom: 20px;

}
.find a{
	font-size: 10px;
	margin-left: 150px;
	color:rgb(80,80,80);
	text-decoration: none;
}
.find a:hover{
    color:rgb(50,157,216);
   }




